@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* common components */

h1 {
  font-size: 2.7rem;
  font-family: 'Noto Serif';
}

h2 {
  font-size: 2rem;
  font-family: 'Noto Serif';
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 1.15rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wide-image-wrapper {
  width: 100%;
  height: 70vw;
  overflow: hidden;
}

.wide-image-wrapper img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

.content-container {
  display: flex;
}

.inner-image-container {
}

.inner-image-wrapper {
  width: 100%;
  height: 75vw;
  overflow: hidden;
}

.inner-image-wrapper img {
  height: 100%;
}

.text-container {
  margin: 0 0 0 2vw;
}

/* sections */

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 3vh 0;
}

.header-container header {
  display: flexbox;
  text-align: center;
  width: 60%;
  font-size: clamp(1rem, calc(1.4rem + 2vw), 1.5rem);
}

.header-container p {
  font-size: 1.3rem;
}

.washing-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 3vh 0;
}

.washing-container section {
  width: 65%;
}

.drying-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drying-container .title-container {
  width: 65%;
}

.drying-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 3vh 0;
}

.storage-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 3vh 0;
}

.storage-container section {
  display: flexbox;
  width: 65%;
}

.purpose-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purpose-container section {
  width: 65%;
}

/* Larger Screens */

@media (min-width: 768px) {
  /* common components */

  .wide-image-wrapper {
    height: 35vw;
  }

  .wide-image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .inner-image-wrapper {
    height: 30vw;
  }

  /* sections */

  .drying-container .title-container {
    width: 100%;
  }

  .drying-container section {
    width: 65%;
  }
}
